.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

form {
  display: inline-block;
}

input {
  font-size: 20px;
  margin-right: 20px;
  border: 1px solid gray;
  border-radius: 3px;
  padding: 5px 10px;
}

button {
  font-size: 15px;
  background-color: teal;
  color: white;
  padding: 8px 20px;
  border: none;
  border-radius: 3px;
}

.ShoppingList ul {
  list-style-type: none;
  width: 300px;
  margin: 50px auto;
}

.ShoppingList ul li {
  list-style-type: none;
  background-color:  beige;
}
.ShoppingList ul li p {
  clear: both;
  float: left;
  font-weight: bold;
}

.ShoppingList ul li button {
  float: right;
}